<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>

<div class="container">
<br><br>
<h1 th:text="${success}"></h1>
<a href="addStudentPage" class="btn btn-info">add new students</a>
  <h2>liste of Studens</h2>
 <br > 
  <table class="table table-hover">
    <thead>
      <tr>
      
        <th>id</th>
        <th>name</th>
        <th>last name</th>
     
        <th>options</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="Student:${listStudent}">
        <td th:text="${Student.id}"></td>
        <td th:text="${Student.nom}"></td>
        <td th:text="${Student.prenom}"></td> 
       <td>
<a th:href="@{/students/deleteStudent/{id}(id=${Student.id})}" class="btn btn-danger">Delete</a>
<a th:href="@{/students/updatePage/{idp}(idp=${Student.id})}" class="btn btn-info">Update</a>
     
      </td>
       
      </tr>
      
    </tbody>
  </table>
</div>




</body>
</html>
